.contrasting{
    color:white;
    mix-blend-mode: difference;
}

body{
    background: linear-gradient(whitesmoke 15rem, #82e394 30rem);
}

@keyframes balance {
    from{
        transform:rotate(20deg) translate(0, -12px);
        transform-origin: 50% 40%;

    }
    to{
        transform:rotate(-20deg) translate(0, -12px);
        transform-origin: 50% 40%;
    }
}

#balance{
    -webkit-animation: balance 1s linear infinite;
    -o-animation: balance 1s linear infinite;
    animation: balance 1s alternate ease-in-out infinite;
    display: inline-block;
}

.triangle{
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 25px 15px;
    border-color: transparent transparent currentColor transparent;
    transform: rotate(0deg) translate(225%, 75%);
}

.card-button{
    transition: ease-out 200ms;
    color: blue;
    background-color: darkgray;
    border-color: #0a53be;
    mix-blend-mode: darken;
}

.card-button:hover{
    transition: ease-out 350ms;
    color: black;
    background-color: darkgreen;
    border-color: #0a3622;
}